<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<h1>All Events</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${events} and ${events.size()}">No Events!</p>

<table>
    <tr>
        <th>Event Name</th>
        <th>Description</th>
    </tr>
    <th:block th:each="event : ${events.keySet().toArray()}">
        <tr>
            <td th:text="${event}"></td>
            <td th:text="${events.get(event)}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>